<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>OnQue | Customer Relationship Management System</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="/static/img/ico.png" rel='icon' type='image/png' />
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/animate_index.min.css" rel="stylesheet" />
    <link href="/static/css/style_index.min.css" rel="stylesheet" />
    <link href="/static/css/style_index-responsive.min.css" rel="stylesheet" />
    <link href="/static/css/default_index.css" id="theme" rel="stylesheet" />
    <link href="https://ianlunn.github.io/Hover/css/hover.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/static/js/pace.min.js"></script>
    <script src="/static/js/jquery-1.8.2.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<div class="vikas">
<body data-spy="scroll" data-target="#header-navbar" data-offset="51">
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-default navbar-fixed-top">
            <!-- begin container -->
            <div class="container">
                <!-- begin navbar-header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#home" class="navbar-brand">
                        <!-- <img src="https://i.imgur.com/Kzsgl8Z.png" alt="Home" /> -->
                        <!-- <span class="brand-logo"></span> -->
                        <span class="brand-text">
                            <span class="text-theme"><img class="float" src="https://i.imgur.com/6Bd5raA.png" alt="Home" />   OnQue</span>
                        </span>
                    </a>
                </div>
                <!-- end navbar-header -->
                <!-- begin navbar-collapse -->
                <div class="collapse navbar-collapse" id="header-navbar">
                    <ul class="nav navbar-nav navbar-right">
                       <li><a href="#home" data-click="scroll-to-target">HOME</a></li>
                        <li><a href="#about" data-click="scroll-to-target">ABOUT</a></li>
                        <!-- <li><a href="#team" data-click="scroll-to-target">TEAM</a></li> -->
                        <li><a href="#service" data-click="scroll-to-target">SERVICES</a></li>
                        <!-- <li><a href="#work" data-click="scroll-to-target">WORK</a></li> -->
                        <!-- <li><a href="#client" data-click="scroll-to-target">CLIENT</a></li> -->
                        <li><a href="#pricing" data-click="scroll-to-target">PRICING</a></li>
                        <li><a href="#contact" data-click="scroll-to-target">CONTACT</a></li>
                    </ul>
                </div>
                <!-- end navbar-collapse -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #header -->
        
        <!-- begin #home -->
        <div id="home" class="content has-bg home">
            <!-- begin content-bg -->
            <div class="content-bg">
                <img src="https://i.imgur.com/PyeS6Rd.jpg" alt="Home" />
                <!-- <img src="http://www.jupiterbowl.com/wp-content/uploads/2012/09/JB_InteriorLiftGrill01.jpg" alt="Home" /> -->
            </div>
            <!-- end content-bg -->
            <!-- begin container -->
            <div class="container home-content">
                <h1>Welcome to OnQue</h1>
                <h3>A Customer Relationship Management System</h3>
                <p>
                    We have created a platform to make data collection and customer management easier for you<br />
                    Use <a href="#">OnQue</a> to increase your revenues.
                </p>
                <a href="#service" class="btn btn-theme">Explore More</a> <a href="#pricing" class="btn btn-outline">Purchase Now</a><br />
                <br />
                or <a href="#">subscribe</a> newsletter
            </div>
            <!-- end container -->
        </div>
        <!-- end #home -->
        
        <!-- begin #about -->
        <div id="about" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInDown">
                <h2 class="content-title">About Us</h2>
                <p class="content-desc">
                    We are a group of Bitsians bitten by the entrepreneurial bug leaving us with no scope of <br />paying attention to any academic commitments.
                </p>
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-6">
                        <!-- begin about -->
                        <div class="about">
                            <h3>Our Story</h3>
                            <p>
                                Having wasted last couple years of our Bits Goa life by going to beaches and chilling out with our friends (would not actually call it wasted), we decided to bring in a change in one the issues that pains us the most, waiting. Thus building around this base problem, we came up with the solution to it, OnQue.
                            </p>
                        </div>
                        <!-- end about -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-6">
                        <h3>Our Philosophy</h3>
                        <!-- begin about-author -->
                        <div class="about-author">
                            <div class="quote bg-silver">
                                <i class="fa fa-quote-left"></i>
                                <h3>We work harder,<br /><span>to let our user keep simple</span></h3>
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="author">
                                <div class="image">
                                    <img src="http://www.pykih.com/assets/vikas-43ab9dad4009338d431977686a307838.jpg" alt="Sean Ngu" />
                                </div>
                                <div class="info">
                                    Vikas Mishra
                                    <small>Chief Developer</small>
                                </div>
                            </div>
                        </div>
                        <!-- end about-author -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-12">
                        <h3>Our Experience</h3>
                        <!-- begin skills -->
                        <p>With Electronics as our B.tech degree I would'nt say much, but with one of us working on a contract basis for Google (GSOC) and another owning a chain of restaurants and also a dual degree in finance, I think we have our basis covered.</p>
<!--                         <div class="skills">
                            <div class="skills-name">Front End</div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" style="width: 95%">
                                    <span class="progress-number">95%</span>
                                </div>
                            </div>
                            <div class="skills-name">Programming</div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" style="width: 90%">
                                    <span class="progress-number">90%</span>
                                </div>
                            </div>
                            <div class="skills-name">Database Design</div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" style="width: 85%">
                                    <span class="progress-number">85%</span>
                                </div>
                            </div>
                        </div> -->
                        <!-- end skills -->
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #about -->
    
        <!-- begin #milestone -->
        <div id="milestone" class="content bg-black-darker has-bg" data-scrollview="true">
            <!-- begin content-bg -->
            <div class="content-bg">
                <img src="/static/img/milestone-bg.jpg" alt="Milestone" />
            </div>
            <!-- end content-bg -->
            <!-- begin container -->
            <div class="container">
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-3 milestone-col">
                        <div class="milestone">
                            <div class="number" data-animation="true" data-animation-type="number" data-final-number="1292">1,292</div>
                            <div class="title">Covers served</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-3 milestone-col">
                        <div class="milestone">
                            <div class="number" data-animation="true" data-animation-type="number" data-final-number="12">12+</div>
                            <div class="title">Registered restaurants</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-3 milestone-col">
                        <div class="milestone">
                            <div class="number" data-animation="true" data-animation-type="number" data-final-number="500">500+</div>
                            <div class="title">Feedback collected</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-3 milestone-col">
                        <div class="milestone">
                            <div class="number" data-animation="true" data-animation-type="number" data-final-number="1200">1,200+</div>
                            <div class="title">Registered Customers</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #milestone -->
        
        <!-- begin #team -->

        <!-- end #team -->
        
        <!-- begin #quote -->

        <!-- end #quote -->
        
        <!-- beign #service -->

        <!-- end #about -->
        
        <!-- beign #action-box -->

        <!-- end #action-box -->
        
        <!-- begin #work -->
        <div id="service" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInDown">
                <h2 class="content-title">Our Services</h2>
<!--                 <p class="content-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,<br />
                    sed bibendum turpis luctus eget
                </p> -->
                <!-- begin row -->
                <div class="row row-space-10">
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="/static/img/collect_detailed_analytics.jpg" alt="Work 1" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">Analytics</span>
                                <span class="desc-text">Collect detailed analytics</span>
                            </div>
                        </div>
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="/static/img/Collect_valuable_feedback.jpg" alt="Work 3" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">Feedback</span>
                                <span class="desc-text">Collect valuable feedback</span>
                            </div>
                        </div>
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="/static/img/Create_benchmarks.jpg" alt="Work 5" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">Benchmarks</span>
                                <span class="desc-text">Create benchmarks</span>
                            </div>
                        </div>
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="/static/img/Handle_waiting_time.jpg" alt="Work 7" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">Waiting Time</span>
                                <span class="desc-text">Handle waiting time</span>
                            </div>
                        </div>
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
                <!-- begin row -->
                <div class="row row-space-10">
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="/static/img/Identify_guests.jpg" alt="Work 2" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">Indentify Guests</span>
                                <span class="desc-text">Identify your loyal visitors</span>
                            </div>
                        </div>
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="/static/img/Improve_guest_experience.jpg" alt="Work 4" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">Guest Experience</span>
                                <span class="desc-text">Improve guest experience</span>
                            </div>
                        </div>
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="/static/img/No_piles_or_paper_lists.jpg" alt="Work 6" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">Go paperless</span>
                                <span class="desc-text">No piles or paper lists</span>
                            </div>
                        </div>
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="/static/img/Recommend_dishes.jpg" alt="Work 8" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">Recommendations</span>
                                <span class="desc-text">Recommend dishes to your guests</span>
                            </div>
                        </div>
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #work -->
        
        <!-- begin #client -->
        <div id="client" class="content has-bg bg-green" data-scrollview="true">
            <!-- begin content-bg -->
            <div class="content-bg">
                <img src="/static/img/quote-bg.jpg" alt="Client" />
            </div>
            <!-- end content-bg -->
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInUp">
                <!-- <h2 class="content-title">Our Client Testimonials</h2> -->
                <!-- begin carousel -->
                <div class="carousel testimonials slide" data-ride="carousel" id="testimonials">
                    <!-- begin carousel-inner -->
                    <div class="carousel-inner text-center">
                        <!-- begin item -->
                        <div class="item active">
                            <blockquote>
                                <i class="fa fa-quote-left"></i>
                                Ideas are commodity, execution of them is not.</i>
                                <i class="fa fa-quote-right"></i>
                            </blockquote>
                            <div class="name"> — <span class="text-theme">Michael Dell</span></div>
                        </div>
                        <!-- end item -->
                        <!-- begin item -->
                        <div class="item">
                            <blockquote>
                                <i class="fa fa-quote-left"></i>
                                A brand for a company is like a reputation for a person. You earn a reputation by doing hard things well.
                                <i class="fa fa-quote-right"></i>
                            </blockquote>
                            <div class="name"> — <span class="text-theme">Jeff Bezos</span>, CEO, Founder of Amazon</div>
                        </div>
                        <!-- end item -->
                        <!-- begin item -->

                        <!-- end item -->
                        <!-- begin item -->
                        <div class="item">
                            <blockquote>
                                <i class="fa fa-quote-left"></i>
                                Nothing works better than just improving your product.
                                <i class="fa fa-quote-right"></i>
                            </blockquote>
                            <div class="name"> — <span class="text-theme"> Joel Spolsky</span>, Stackoverflow co-founder</div>
                        </div>
                        <!-- end item -->
                    </div>
                    <!-- end carousel-inner -->
                    <!-- begin carousel-indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonials" data-slide-to="1" class=""></li>
                        <li data-target="#testimonials" data-slide-to="2" class=""></li>
                        <!-- <li data-target="#testimonials" data-slide-to="3" class=""></li> -->
                    </ol>
                    <!-- end carousel-indicators -->
                </div>
                <!-- end carousel -->
            </div>
            <!-- end containter -->
        </div>
        <!-- end #client -->
        
        <!-- begin #pricing -->
        <div id="pricing" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container">
                <h2 class="content-title">Pricing</h2>
                <p class="content-desc">
                    All features are offered on all plans, when a new incremental feature is added, and there </br>will be every week, you get it at no extra cost. Pricing only based on size of restaurant.
                </p>
                <!-- begin pricing-table -->
                <ul class="pricing-table col-3">
                    <li data-animation="true" data-animation-type="fadeInUp">
                        <div class="pricing-container">
                            <h3>Tall</h3>
                            <div class="price">
                                <div class="price-figure">
                                    <span class="price-number">$29</span>
                                    <span class="price-tenure">per month</span>
                                </div>
                            </div>
                            <ul class="features">
                                <li>Upto 20 tables</li>
                                <li>Waiting list management</li>
                                <li>Table management</li>
                                <!-- <li>Dish recommendations</li> -->
                                <li>Feedback collection</li>
                                <li>24/7 Email and Phone support</li>
                            </ul>
                            <div class="footer">
                                <a href="#" class="btn btn-inverse btn-block">Buy Now</a>
                            </div>
                        </div>
                    </li>
                    <li class="highlight" data-animation="true" data-animation-type="fadeInUp">
                        <div class="pricing-container">
                            <h3>Grande</h3>
                            <div class="price">
                                <div class="price-figure">
                                    <span class="price-number">$39</span>
                                    <span class="price-tenure">per month</span>
                                </div>
                            </div>
                            <ul class="features">
                                <li>Upto 40 tables</li>
                                <li>Waiting list management</li>
                                <li>Table management</li>
                                <!-- <li>Dish recommendations</li> -->
                                <li>Feedback collection</li>
                                <li>24/7 Email and Phone support</li>
                            </ul>
                            <div class="footer">
                                <a href="#" class="btn btn-theme btn-block">Buy Now</a>
                            </div>
                        </div>
                    </li>
                    <li data-animation="true" data-animation-type="fadeInUp">
                        <div class="pricing-container">
                            <h3>Venti</h3>
                            <div class="price">
                                <div class="price-figure">
                                    <span class="price-number">$69</span>
                                    <span class="price-tenure">per month</span>
                                </div>
                            </div>
                            <ul class="features">
                                <li>Unlimited tables</li>
                                <li>Waiting list management</li>
                                <li>Table management</li>
                                <!-- <li>Dish recommendations</li> -->
                                <li>Feedback collection</li>
                                <li>24/7 Email and Phone support</li>
                            </ul>
                            <div class="footer">
                                <a href="#" class="btn btn-inverse btn-block">Buy Now</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- end container -->
        </div>
        <!-- end #pricing -->
        
        <!-- begin #contact -->
        <div id="contact" class="content bg-silver-lighter" data-scrollview="true">
            <!-- begin container -->
            <div class="container">
                <h2 class="content-title">Contact Us</h2>
                <p class="content-desc">
                    Give us a call if you have any questions, want to sign up, or maybe to just have a deep conversation about life.</br>
                    We are a small team, will probably  be one of the co-founders picking up your call.
                </p>
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-6 -->
                    <div class="col-md-6" data-animation="true" data-animation-type="fadeInLeft">
                        <h3>If you have something to discuss, get in touch with us.</h3>
<!--                         <p>
                            Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus.
                        </p> -->
                        <p>
                            <strong>OnQue, Inc</strong><br />
                            BITS-Pilani KK Birla Goa Campus<br />
                            Zuari Nagar, Goa<br />
                            P: 403726<br />
                        </p>
                        <p>
                            <span class="phone">+91  9867855964</span><br />
                            <a href="mailto:contact@onque.in">contact@onque.in</a>
                        </p>
                    </div>
                    <!-- end col-6 -->
                    <!-- begin col-6 -->
                    <div class="col-md-6 form-col" data-animation="true" data-animation-type="fadeInRight">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">Name <span class="text-theme">*</span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Email <span class="text-theme">*</span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Message <span class="text-theme">*</span></label>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3"></label>
                                <div class="col-md-9 text-left">
                                    <button type="submit" class="btn btn-theme btn-block">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end col-6 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #contact -->
        
        <!-- begin #footer -->
        <div id="footer" class="footer">
            <div class="container">
                <div class="footer-brand hover-shadow">
                    <a href="#home">
                    <img src="https://i.imgur.com/90OoYkC.png" alt="Home" />
                </a>
                </div>
                <p>
                    &copy; Copyright OnQue 2014 <br />
                    A Customer Relationship Management System. Created by <a href="http://www.onque.in">OnQue</a>
                </p>
                <p class="social-list">
                    <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                    <a href="#"><i class="fa fa-instagram fa-fw"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                    <a href="#"><i class="fa fa-google-plus fa-fw"></i></a>
                    <a href="#"><i class="fa fa-dribbble fa-fw"></i></a>
                </p>
            </div>
        </div>
        <!-- end #footer -->
        
        <!-- begin theme-panel -->

        <!-- end theme-panel -->
    </div>
    <!-- end #page-container -->
    
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/static/js/jquery-1.8.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="http://seantheme.com/color-admin-v1.4/frontend/one-page-parallax/assets/crossbrowserjs/html5shiv.js"></script>
        <script src="http://seantheme.com/color-admin-v1.4/frontend/one-page-parallax/assets/crossbrowserjs/respond.min.js"></script>
        <script src="http://seantheme.com/color-admin-v1.4/frontend/one-page-parallax/assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/scrollMonitor.js"></script>
    <script src="/static/js/apps.min.js"></script>
    <!-- ================== END BASE JS ================== -->
    
    <script>    
        $(document).ready(function() {
            App.init();
        });

    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57206661-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>