<aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href="/dashboard/"><img src="/static/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                  <h5 class="centered">{{client.first_name}} {{client.last_name}}</h5>
                    
                  <li class="mt">
                      <a class="active" href="/dashboard">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

<!--                   <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>UI Elements</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="#">General</a></li>
                          <li><a  href="#">Buttons</a></li>
                          <li><a  href="#">Panels</a></li>
                      </ul>
                  </li> -->

                  <li class="sub-menu">
                      <a href="/settings/" >
                          <i class="fa fa-cogs"></i>
                          <span>Settings</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/settings#ChangeTables">Change No of tables</a></li>
                          <li><a  href="/settings#ChangePassword">Change Password</a></li>
                          <li><a  href="/settings#Other">Other details</a></li>
                      </ul>
                  </li>
<!--                   <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Extra Pages</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="#">Blank Page</a></li>
                          <li><a  href="#">Login</a></li>
                          <li><a  href="#">Lock Screen</a></li>
                      </ul>
                  </li> -->
<!--                   <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>Forms</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="#">Form Components</a></li>
                      </ul>
                  </li> -->
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>Records</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/records/">All Records</a></li>
                           <li><a  href="/feedbacks/">Feedbacks</a></li>
                          <!-- <li><a  href="#">Responsive Table</a></li> -->
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>Analytics</span>
                      </a>
                      <ul class="sub">
                          <!-- <li><a  href="morris.html">Morris</a></li> -->
                          <li><a  href="/analytics/">Charts</a></li>
                      </ul>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>